*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;  /*Scrool Suave nas transições*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
header {
background-color: #30281c ;
padding: 10px;
display: flex;
justify-content: space-evenly;
 align-items: center;
 

}
.header-li {
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(248, 5, 5);
}
.logo-1 {
    color: rgb(248, 5, 5);


}

.section-1 {
    background-color: #efae54;
    padding: 180px;
    background-image: url(111.jpg);
    background-position: 60% 45%;
    -webkit-background-size: cover;
}


.div-h {
    font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(248, 5, 5);
 
  
  
 
}

.div-1p {
    padding: 35px;
    color:  rgb(248, 5, 5);
    font-size: 25px;
    font-weight: 600;
    
   
    
}

.button-1 {
    background-color: 248, 5, 5;
    padding: 10px 40px;
    border-radius: 7px;
    color: #000000;
    font-weight: 600;   
    font-family: Arial, Helvetica, sans-serif; 
     
}

.div-i {
 
    display: flex;
    font-size: 30px;
    background-position: 30px;
    justify-content: center;
    align-items: center;
   gap: 10px;
   color: rgb(248, 5, 5);
   font-weight: 600;
   text-align: right;
   
}


.section-2 {
 background-color: #efae54;
    padding: 180px;
    background-image: url(sofa\ 2.jpg);
    background-position: 60% 45%;
    -webkit-background-size: cover;
   
   
}

.div-h2 {

    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color:  rgb(248, 5, 5);
    font-weight: 600;

}

.div-2p {
    padding: 35px;
    color:  rgb(248, 5, 5);
    font-size: 25px;
    font-weight: 600;
    
    
    }



.button-2 {
    background-color:  #fffcfc;
    padding: 10px 40px;
    border-radius: 7px;
    color: #000000;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;    
}
.img-header {
    background-size: auto;
}